<my-promo-tag
  class="mypromo"
  style="display: block; width: 100%"
  data-ad-slot="{{adunit-code}}"
  data-ad-format="auto"
  data-full-width-responsive="true"
></my-promo-tag>

<!-- AdView Native JS SDK -->
<!-- Insert this code to the HEAD only once -->
<script src="https://{JSSDK_DOMAIN}/ntl.js"></script>
<script type="text/javascript">
  AdViewNative.amgConfigure(function (mn) {
    mn.setMapper('my-promo-tag.mypromo', {
      srcURL: 'https://{ADSERVER_DOMAIN}/b/dynamic/{<id>}?format=jsonp',
      render: new AdViewStylizedRender(),
    });
  });
</script>