<script
  type="text/javascript"
  src="https://{JSSDK_DOMAIN}/ntl.js"
  data-ad-unitid="{{adunit-code}}"
  data-ad-target="a"
  data-ad-every="30m"
  data-ad-every-direct="4"
  data-ad-categories=""
  data-ad-param1=""
  data-ad-param2=""
  data-ad-param3=""
  async
  defer
></script>